<ion-fab slot="fixed" horizontal="end" vertical="bottom" class="ion-margin" class="login-fixed">
  <ion-fab-button id="open-modal" color="primary" (click)="loginModal()">
    <ion-icon name="log-in-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
