<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-title class="ion-text-capitalize" *ngIf="usuarioLogado?.ROL">
        Hola {{usuarioLogado.NOMBRE}} !!!
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-height-full ion-align-items-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-md="8" size-xs="12">
        <ion-card class="ion-text-center">
          <ion-header>
            <ion-toolbar color="secondary">
              <ion-title color="primary">EDITAR PERFIL</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label
                    class="email-label"
                    size="large"
                    *ngIf="usuarioLogado?.EMAIL"
                    >{{usuarioLogado.EMAIL}}</ion-label
                  >
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-avatar class="avatar">
                    <ion-img
                      [src]="usuarioLogado?.AVATAR"
                      class="imagenAvatar"
                    ></ion-img>
                  </ion-avatar>
                </ion-item>
                <ion-item>
                  <ion-button
                    (click)="avatarActionSheet()"
                    expand="none"
                    fill="outline"
                    shape="none"
                    class="small-button"
                  >
                    Cambiar Avatar
                  </ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-list>
                  <ion-item>
                    <ion-label class="custom-size" *ngIf="usuarioLogado?.ROL"
                      >Score: {{usuarioLogado.PUNTOS}}</ion-label
                    >
                    <!-- Contenido del email -->
                  </ion-item>
                  <ion-item>
                    <ion-label class="custom-size" *ngIf="usuarioLogado?.ROL"
                      >{{usuarioLogado.NOMBRE}}</ion-label
                    >
                    <!-- Contenido del nombre -->
                  </ion-item>
                  <ion-item>
                    <ion-label
                      class="custom-mail custom-size"
                      *ngIf="usuarioLogado?.EMAIL"
                      >{{usuarioLogado.EMAIL}}</ion-label
                    >
                    <!-- Contenido del email -->
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-footer class="footer-card">
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="6" size-md="8" size-xs="12">
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col size="6" class="ion-text-start">
                  <!-- Botón de cerrar sesión -->
                  <ion-button
                    (click)="logOut()"
                    expand="none"
                    fill="outline"
                    shape="none"
                  >
                    Cerrar sesión
                  </ion-button>
                </ion-col>

                <ion-col size="6" class="ion-text-end">
                  <!--Zona de peligro y botón de eliminar cuenta -->
                  <ion-button
                    (click)="alertDelete()"
                    expand="none"
                    fill="solid"
                    shape="none"
                    color="danger"
                  >
                    Eliminar Cuenta
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-grid>
</ion-content>
