/* Estilos adicionales para la imagen dentro del ion-avatar */
ion-avatar ion-img {
  margin-left: 1rem;
}
ion-label {
  font-size: 2em;
}

/* Estilos personalizados para hacer el botón más pequeño */
.small-button {
  font-size: 0.9em;
}

.footer-card {
  position: fixed;
  bottom: 0;
}

/* Estilos por defecto para pantallas mayores a 360px */
.footer-card ion-button {
  --min-width: 0;
  --max-width: 100%;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0;
  --padding-bottom: 0;
}
ion-label.custom-size {
  font-size: 1.4em;
}

ion-label.email-label {
  display: none;
  font-size: 1.4em;
}

/* Estilos predeterminados para móviles aquí */

/* Media query para pantallas pequeñas (generalmente móviles) */
@media only screen and (max-width: 600px) {
  .footer-card ion-button {
    --min-width: 50px; /* Ancho mínimo del botón */
    --max-width: 80px; /* Ancho máximo del botón */
    --padding-start: 5px; /* Espaciado interno a la izquierda */
    --padding-end: 5px; /* Espaciado interno a la derecha */
    --padding-top: 5px; /* Espaciado interno arriba */
    --padding-bottom: 5px; /* Espaciado interno abajo */
  }

  ion-avatar ion-img {
    margin-left: 0;
  }

  .small-button {
    font-size: 0.55em;
    --min-width: 50%; /* Ancho mínimo del botón */
    --max-width: 50%; /* Ancho máximo del botón */
  }

  ion-label.custom-mail {
    display: none; /* Oculta la dirección de correo electrónico */
  }
  ion-label.email-label {
    display: block;
  }
}
