<ion-grid fixed>
  <ion-row>
    <ion-col
      *ngFor="let reto of retos; let i = index"
      size="12"
      size-lg="3"
      size-md="4"
      size-sm="6"
      size-xs="12"
    >
      <app-reto [reto]="reto" [index]="i"> </app-reto>
    </ion-col>
  </ion-row>
</ion-grid>
