<ion-header>
  <ion-toolbar>
    <ion-segment value="retos" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="retos">
        <ion-label>Retos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="users">
        <ion-label>Usuarios</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="segmento == 'retos'">
    <ion-list>

      <ion-item-sliding *ngFor="let reto of retos">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="reto.IMAGEN" />
          </ion-avatar>
          <ion-label>
            <h3>{{ reto.TITULO }} ({{reto.ACTIVO}})</h3>
           
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="cambiarEstado(reto.ID)">
           <ion-icon slot="icon-only" name="sync-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash" (click)="deleteReto(reto.ID)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>
  <div *ngIf="segmento == 'users'">
    <ion-list>

      <ion-item-sliding *ngFor="let usuario of usuarios">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="usuario.AVATAR" />
          </ion-avatar>
          <ion-label>
            <h3>{{ usuario.NOMBRE }}  ({{usuario.ROL}}) </h3>
            <p><small>{{ usuario.EMAIL }}</small></p>
          </ion-label>
          <ion-badge slot="end">{{ usuario.PUNTOS }}</ion-badge>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="cambiarRol(usuario.ID)" color="success">
            <ion-icon slot="icon-only" name="sync-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="deleteUser(usuario.ID)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>

  <app-menu [menuOpts]="this.menuSvc.menuOpts"></app-menu>
</ion-content>