ion-icon {
  font-size: 72px;
  text-align: center;
}

ion-img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.color-twitter {
  color: #00acee;
}

.color-linkedin {
  color: #0e76a8;
}

span,
h3 {
  color: var(--ion-color-primary);
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.custom-button {
  max-width: 180px;
  margin: 0 auto;
  width: 100%;
}

.small-icon {
  font-size: 18px;
}

.bold-text {
  font-size: 18px;
  font-weight: bold;
}

.logo-image {
  width: 200px;
  height: auto;
  margin: 0 auto;
  max-width: 250px;
}

/* el botón responsive */
@media (max-width: 576px) {
  .custom-button {
    max-width: 60%;
  }
}
