<app-header titulo="Mi Información"></app-header>

<ion-content>
  <ion-grid fixed class="ion-height-full ion-align-items-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size-md="8" size-xs="12">
        <ion-row>
          <ion-col size="12">
            <ion-img
              src="./assets/images/logoAstroRetos.png"
              class="logo-image"
            ></ion-img>
          </ion-col>
        </ion-row>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-card class="ion-text-center">
                <ion-card-content>
                  <h3>Aplicación para Proyecto Final</h3>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-card class="ion-text-center">
                <ion-card-content>
                  <p>Curso:</p>
                  <a
                    href="https://www3.gobiernodecanarias.org/medusa/edublog/ieselrincon/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >3DAMN IES EL RINCON</a
                  >
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <!-- Repite este patrón para las filas restantes -->

          <ion-row>
            <ion-col size="12">
              <ion-card class="ion-text-center">
                <ion-card-content>
                  <p>Alumno:</p>
                  <a
                    href="https://github.com/EstudiaGit"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Amós Abelleira Pérez</a
                  >
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <!-- ... otros ion-row ... -->

          <ion-row>
            <ion-col size="12">
              <ion-card class="ion-text-center">
                <ion-card-content>
                  <p>Enlace Documentación:</p>
                  <a
                    href="https://estudiagit.github.io/documentacion_PPP/index.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Documentación</a
                  >
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-card class="ion-text-center">
                <ion-card-content>
                  <p>Enlace proyecto GitHub:</p>
                  <a
                    href="https://gitlab.com/estudia1/dam_proyecto.git"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Código</a
                  >
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-footer class="ion-padding-top">
          <ion-row class="ion-text-center">
            <ion-col size="12">
              <ion-button
                expand="block"
                fill="outline"
                color="primary"
                routerLink="/home"
                routerDirection="root"
                class="custom-button"
              >
                <ion-icon
                  slot="start"
                  name="home"
                  class="small-icon"
                ></ion-icon>
                <ion-label class="bold-text">Inicio</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
