<app-header titulo = "Top Score"></app-header>

<ion-content>

<ion-list>
    <ion-item *ngFor="let usuario of usuarios">
        <ion-label>{{usuario.NOMBRE}}</ion-label>
        <ion-label>{{usuario.PUNTOS}}</ion-label>
    </ion-item>
</ion-list>

<app-menu [menuOpts]="this.menuSvc.menuOpts"></app-menu>
</ion-content>
