<app-header titulo="Mis Retos"></app-header>
<ion-content>
  <ion-item-sliding *ngFor="let reto of retos">
    <ion-item (click)="verDetalle(reto.ID)">
      <ion-avatar slot="start">
        <img [src]="reto.IMAGEN" alt="Reto Image" />
      </ion-avatar>
      <ion-label>
        <h3>{{ reto.TITULO }} ({{reto.ACTIVO}})</h3>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="success" (click)="cambiarEstado(reto.ID)">
        <ion-icon slot="icon-only" name="sync-circle-outline"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon
          slot="icon-only"
          name="trash"
          (click)="deleteReto(reto.ID)"
        ></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="newReto(usuario.EMAIL)"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-menu [menuOpts]="this.menuSvc.menuOpts"></app-menu>
</ion-content>
