<app-header titulo="Mis Favoritos"></app-header>
<ion-content>
  <app-menu></app-menu>

  <ion-item-sliding *ngFor="let reto of retos; let i = index">
    <ion-item (click)="verDetalle(reto.ID)">
      <ion-avatar slot="start">
        <img [src]="reto?.IMAGEN" />
      </ion-avatar>
      <ion-label>
        <h3>{{ reto?.TITULO }}</h3>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="star-outline" (click)="quitarFavorito(this.favoritos[i].ID_FAV)"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <app-menu [menuOpts]="this.menuSvc.menuOpts"></app-menu>
</ion-content>