<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="primary">{{ reto?.TITULO }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="reto?.IMAGEN"></ion-img>

    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" [name]="getIconTipo(reto?.TIPO)"></ion-icon>
        <ion-label>Tipo: {{ reto?.TIPO }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon
          name="ellipse-sharp"
          [color]="getColorNivel(reto?.NIVEL)"
          slot="start"
        ></ion-icon>
        <ion-label [color]="getColorNivel(reto?.NIVEL)">
          Nivel: {{ reto?.NIVEL }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon
          name="star-sharp"
          slot="start"
          [color]="esFavorito ? 'primary' : 'medium'"
          (click)="toggleFavorito()"
        ></ion-icon>
        <ion-icon
          name="share-social-outline"
          slot="end"
          color="primary"
          (click)="compartirReto()"
        ></ion-icon>
        <ion-icon
          name="checkmark-circle-sharp"
          slot="start"
          [color]="esRetoConseguido ? 'success' : 'medium'"
          (click)="toggleRetoConseguido()"
        ></ion-icon>
      </ion-item>

      <ion-label>
        {{ reto?.DESCRIPCION | slice : 0 : oculto }}...
        <ion-button (click)="mostrarDescripcion()" fill="clear" size="small">
          Leer más
        </ion-button>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button
    (click)="cierreModal()"
    expand="block"
    fill="outline"
    shape="none"
  >
    Regresar
  </ion-button>
</ion-footer>
