.titulo {
  width: 100%;
  position: absolute;
  color: rgb(252, 163, 17);
  background-color: black;
  padding: 5px 5px 40px 5px;
}

.titulo h1 {
  position: absolute;
  top: 28px;
  left: 5px;
}

/*.modal-backdrop {
  opacity: 0.5 !important;
}*/
