/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.loginRegisterModal {
  --height: 45%;
  --border-radius: 10px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.loginRegisterModal::part(backdrop) {
  background: rgb(0, 97, 171);
  opacity: 1;
}

.loginRegisterModal ion-toolbar {
  --color: white;
}

.imagenAvatar {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  // top:20%;
  // transform:translateY(-50%);
}

.avatar {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.multimedia-class {
  .action-sheet-group {
    // Estilo para alinear el botón 1 a la izquierda
    .ion-action-sheet-buttons-start {
      ion-button {
        margin-right: auto;
      }
    }

    // Estilo para alinear el botón 2 a la derecha
    .ion-action-sheet-buttons-end {
      ion-button {
        margin-left: auto;
      }
    }

    // Estilo para centrar los botones en el centro de la hoja de acción
    .ion-justify-content-center {
      display: flex;
      justify-content: center;
    }
  }
}

/* Estilo para el modal de información ideal para dispositivo movil --- pendiente
.modalInfo {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 0; 
  border: 2px solid #fca311;
}*/

@font-face {
  font-family: "Nasa";
  src: url("/assets/fonts/Nasa.ttf");
}

ion-title {
  font-family: "Nasa";
  letter-spacing: 2px;
}

/* Estilo general para la fuente Nasa */
.nasa-font {
  font-family: "Nasa";
  letter-spacing: 2px; /* Cambiar según necesidad */
}

.article-source-name {
  font-size: 12px;
}

.fab-fixed {
  position: fixed;
  bottom: 24px;
  left: 24px;
}

.login-fixed {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
