<ion-fab
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  class="ion-margin"
  class="fab-fixed"
>
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button *ngFor="let opt of menuOpts; let i = index" color="primary">
      <ion-icon
        [name]="opt.icon"
        (click)="navigateToPage(opt.redirectTo)"
        color="secondary"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
